################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/lw1/v17
/.vs/VSWorkspaceState.json
/task1/packages.config
/task1/task1.vcxproj.filters
